 			<nav class="sticky">
                <div class="row">
                    <a href="#!main"><img src="resources/img/logo-white.png" alt="Omnifood logo" class="logo"></a>
                    <a href="#!main"><img src="resources/img/logo.png" alt="Omnifood logo" class="logo-black"></a>
                    <ul class="main-nav js--main-nav">
                        <li><a href="#!features">Food delivery</a></li>
                        <li><a href="#!works">How it works</a></li>
                        <li><a href="#!cities">Our cities</a></li>
                        <li><a href="#!plans">Sign up</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>
	<section class="section-cities" id="cities">
            <div class="row">
                <h2>We're currently in these cities</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-4 box" ng-repeat="city in cities">
                    <img src="resources/img/{{city.img}}" alt="{{city.name}}">
                    <h3>{{city.name}}</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        {{city.person}}
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        {{city.star}}
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="{{city.twitter-href}}">{{city.twitter}}</a>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-testimonials">
            <div class="row">
                <h2>Our customers can't live without us</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3" ng-repeat="customer in customers">
                    <blockquote>
                        {{customer.description}}
                        <cite><img src="resources/img/{{customer.img}}">{{customer.name}}</cite>
                    </blockquote>
                </div>
                
            </div>
        </section>
