 		
            <nav class="sticky">
                <div class="row">
                    <a href="#!main"><img src="resources/img/logo-white.png" alt="Omnifood logo" class="logo"></a>
                    <a href="#!main"><img src="resources/img/logo.png" alt="Omnifood logo" class="logo-black"></a>
                    <ul class="main-nav js--main-nav">
                        <li><a href="#!features">Food delivery</a></li>
                        <li><a href="#!works">How it works</a></li>
                        <li><a href="#!cities">Our cities</a></li>
                        <li><a href="#!plans">Sign up</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>
           
     
<section class="section-features js--section-features" id="features" >
            <div class="row">
                <h2>Get food fast &mdash; not fast food</h2>
                <p class="long-copy">
                    Hello, we're Omnifood, your new premium food delivery service. We know you're always busy. No time for cooking. So let us take care of that, we're really good at it, we promise!
                </p>
            </div>
            <div class="row" >
                <div class="col span-1-of-4 box" ng-repeat="feature in features">
                    <i class="{{feature.icon}}"></i>
                    <h3>{{feature.name}}</h3>
                    <p>
                        {{feature.description}}
                    </p>
                </div>
            </div>
        </section>
<section class="section-meals">
            <ul class="meals-showcase clearfix">
                <li ng-repeat="photo in photos">
                    <figure class="meal-photo">
                        <img src="resources/img/{{photo.id}}.jpg" alt="{{photo.alt}}">
                    </figure>
				</li>
            </ul>
        </section>